<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         name="IDEalized"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="IDEalized">
         <property
               name="appName"
               value="IDEalized"/>
         <property
               name="windowImages"
               value="icons/16.png,icons/32.png,icons/48.png,icons/64.png,icons/128.png,icons/256.png"/>
         <property
               name="aboutText"
               value="IDEalized&#x0A;&#x0A;Build: {1}&#x0A;&#x0A;Visit https://github.com/howlger/IDEalized&#x0A;&#x0A;Eclipse and the Eclipse logo are trademarks of the Eclipse Foundation, Inc., https://www.eclipse.org/. The Eclipse logo cannot be altered without Eclipse's permission. Eclipse logos are provided for use under the Eclipse logo and trademark guidelines, https://www.eclipse.org/logotm/. Oracle and Java are trademarks or registered trademarks of Oracle and/or its affiliates. Other names may be trademarks of their respective owners.&#x0A;&#x0A;This product includes software developed by other open source projects including the Apache Software Foundation, https://www.apache.org/.&#x0A;"/>
         <property
               name="aboutImage"
               value="about.png"/>
         <property
               name="startupForegroundColor"
               value="9399b2"/>
         <property
               name="startupProgressRect"
               value="2,269,450,10"/>
         <property
               name="startupMessageRect"
               value="7,244,320,20"/>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini"/>
         <property
              name="introBrandingImage"
              value="product:welcome.png"/>
         <property
               name="introTitle"
               value="Welcome to IDEalized"/>
         <property
               name="introBrandingImageText"
               value="IDEalized Project"/>
         <property
               name="applicationXMI"
               value="org.eclipse.platform/LegacyIDE.e4xmi"/>
         <property
               name="cssTheme"
               value="org.eclipse.e4.ui.css.theme.e4_default"/>
         <property
               name="applicationCSSResources"
               value="platform:/plugin/org.eclipse.ui.themes/images/"/>
      </product>
   </extension>

</plugin>
